@import "../../../assets/stylesheets/_constants";


.pagination {
  text-align: center;

  button {
    cursor: pointer;
    background: #fff;
    border: 1px solid #ccc;
    border-left: none;
    padding: 10px;
    color: #333;

    &:hover {
      background: lighten($brand-color, 50);
    }

    &:first-child {
      border-left: 1px solid #ccc;
    }

    &.selected {
      background: $brand-color;
      color: #fff;
    }
  }
}
